:root {
    --accent: #d97706;
    --accent2: #f59e0b;
    --fp-bg: #ffffff;
    --fp-color: #393939;
    --fp-color2: #f59e0b;
    /* --fp-color2: #dbdbdb; */
    --fp-color-disabled: rgba(57, 57, 57, 0.3);
    --fp-accent: #d97706;
    --fp-hover: #000000;
    --iti-text: #6b7280;
    --iti-bg: #ffffff;
    --iti-search-bg: #ffffff;
    --iti-search-text: #1f2937;
    --iti-accent: #d97706;
}

.dark {
    --accent: #d97706;
    --accent2: #f59e0b;
    --fp-bg: #1f2937;
    --fp-color: #f3f4f6;
    --fp-color2: #b45309;
    /* --fp-color2: #283547; */
    --fp-color-disabled: rgba(198, 198, 198, 0.3);
    --fp-accent: #d97706;
    --fp-hover: #ffffff;
    --iti-text: #9ca3af;
    --iti-bg: #1f2937;
    --iti-search-bg: #374151;
    --iti-search-text: #f3f4f6;
    --iti-accent: #d97706;
}

/* MY CSS */
*::selection {
    background-color: var(--accent2);
    color: #000000;
}

.no-scroll {
    overflow: hidden !important;
}

.id {
    user-select: all;
    padding: 0.25rem 0.25rem;
    color: #374151;
    background-color: #e5e7eb;
}

.dark .id {
    color: #d1d5db;
    background-color: #111827;
}

.damage-id {
    user-select: all;
    padding: 0.25rem 0.25rem;
    color: var(--accent2);
    background-color: #e5e7eb;
}

.dark .damage-id {
    background-color: #111827;
}

.top-15 {
    top: 3.75rem;
}

.btn-base {
    display: inline-flex !important;
    align-items: center;
    padding: 0.75rem !important;
    border: none !important;
    border-radius: 1rem !important;
    font-weight: 900 !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.15s ease-in-out;
}

.btn-base:focus {
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.btn-red {
    background-color: #ef4444 !important;
}

.btn-red:hover {
    background-color: #b91c1c !important;
}

.btn-red:focus {
    background-color: #b91c1c !important;
    --tw-ring-color: #ef4444 !important;
    --tw-ring-offset-color: var(--fp-bg) !important;
}

.btn-green {
    background-color: #1fae53 !important;
}

.btn-green:hover {
    background-color: #15803d !important;
}

.btn-green:focus {
    background-color: #15803d !important;
    --tw-ring-color: #1fae53 !important;
    --tw-ring-offset-color: var(--fp-bg) !important;
}

.btn-amber {
    background-color: var(--accent) !important;
}

.btn-amber:hover {
    background-color: #b45309 !important;
}

.btn-amber:focus {
    background-color: #b45309 !important;
    --tw-ring-color: var(--accent2) !important;
    --tw-ring-offset-color: var(--fp-bg) !important;
}

.btn-gray {
    background-color: #6b7280 !important;
}

.btn-gray:hover {
    background-color: #4b5563 !important;
}

.btn-gray:focus {
    background-color: #4b5563 !important;
    --tw-ring-color: #6b7280 !important;
    --tw-ring-offset-color: var(--fp-bg) !important;
}

/* GLIGHTBOX */
.gclose {
    border-radius: 50% !important;
    transition: all 0.3s ease !important;
    opacity: 1 !important;
}

.gclose:hover {
    background: var(--accent2) !important;
    transform: rotate(90deg);
}

.gprev,
.gnext {
    border-radius: 40% !important;
    transition: all 0.3s ease !important;
    opacity: 1 !important;
}

.gprev:hover,
.gnext:hover {
    background: var(--accent2) !important;
    transform: scale(1.1);
}

.gbtn.focused {
    outline: 2px solid var(--accent2) !important;
}

/* SWEET ALERT 2 */
.swal2-validation-message {
    background-color: #f9fafb !important;
    color: #ef4444 !important;
    border-top: 1px solid #e5e7eb !important;
    border-bottom: 1px solid #e5e7eb !important;
}

.dark .swal2-validation-message {
    background-color: #111827 !important;
    border-top: 1px solid #374151 !important;
    border-bottom: 1px solid #374151 !important;
}

.swal2-validation-message::before {
    background-color: #ef4444 !important;
}

.swal2-checkbox input:checked {
    background-color: var(--accent2) !important;
}

.swal2-checkbox input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-checkbox {
    color: var(--iti-search-text) !important;
    background-color: var(--fp-bg) !important;
    font-size: 0.875rem;
}

.swal2-textarea {
    resize: none !important;
}

.swal2-textarea:focus {
    border-color: var(--accent2) !important;
    box-shadow: none !important;
    outline: none !important;
}

.swal2-toast .swal2-icon {
    margin: 0.5em !important;
}

.swal2-title,
.swal2-html-container {
    margin: 0.2em 0.5em !important;
    text-align: center !important;
}

/* PAGINATION */
[wire\:click*="page"].focus\:ring-blue-800,
[wire\:click*="page"]:focus,
[wire\:click*="page"]:active {
    border-color: var(--accent2) !important;
    --tw-ring-color: var(--accent2) !important;
}

[aria-current="page"] span {
    background-color: var(--accent) !important;
    color: white !important;
    border-color: var(--accent) !important;
    font-weight: 900 !important;
}

[wire\:click*="page"]:hover:not([aria-current="page"] span) {
    border-color: var(--accent2) !important;
    color: var(--accent2) !important;
    z-index: 10 !important;
}

[wire\:click*="page"],
.pagination a,
.pagination span {
    transition: all 0.2s ease;
}

[aria-current="page"] span,
nav[aria-label="Pagination Navigation"] span[aria-current="page"] {
    background-color: var(--accent) !important;
    color: white !important;
    border-color: var(--accent) !important;
    font-weight: 900 !important;
}

.pagination a:hover,
[wire\:click*="page"]:hover {
    background-color: transparent !important;
    border-color: var(--accent2) !important;
    color: var(--accent2) !important;
    z-index: 10 !important;
}

.pagination a:focus {
    border-color: var(--accent2) !important;
    --tw-ring-color: var(--accent2) !important;
}

/* FLATPICKR */
.flatpickr-calendar {
    background: var(--fp-bg) !important;
}

/* Days, Month and Year */
.flatpickr-day,
.flatpickr-calendar .flatpickr-month,
.flatpickr-calendar .flatpickr-weekday {
    color: var(--fp-color) !important;
}

/* Previous and Next Days */
.flatpickr-day.prevMonthDay,
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.nextMonthDay {
    color: var(--fp-color-disabled) !important;
}

/* Selected Days */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    color: var(--fp-color) !important;
    background: var(--fp-accent) !important;
    border-color: var(--fp-accent) !important;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 var(--fp-accent) !important;
    box-shadow: -10px 0 0 var(--fp-accent) !important;
}

.flatpickr-day.inRange {
    color: var(--fp-color) !important;
    background: var(--fp-color2) !important;
    border-color: transparent !important;
    -webkit-box-shadow: -5px 0 0 var(--fp-color2), 5px 0 0 var(--fp-color2) !important;
    box-shadow: -5px 0 0 var(--fp-color2), 5px 0 0 var(--fp-color2) !important;
}

.flatpickr-day:hover,
.flatpickr-day:focus,
.flatpickr-day.today:hover,
.flatpickr-day.today:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.nextMonthDay:focus {
    color: var(--fp-hover) !important;
    border-color: var(--fp-accent) !important;
    background: var(--fp-accent) !important;
}

/* Disabled Days */
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    border: none !important;
    background: transparent !important;
    text-decoration: line-through;
    cursor: not-allowed;
}

.flatpickr-day.flatpickr-disabled:hover {
    color: var(--fp-color-disabled) !important;
}

/* Animation */
.flatpickr-animation {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;
}

/* Months Dropdown */
.flatpickr-monthDropdown-months {
    background: var(--fp-bg) !important;
}

.flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: var(--fp-bg) !important;
}

.flatpickr-monthDropdown-months:hover {
    background-color: var(--fp-bg) !important;
}

/* Months Arrows */
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    fill: var(--fp-color) !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--fp-accent) !important;
}

/* Years Arrows */
.numInputWrapper span.arrowUp::after {
    border-bottom-color: var(--fp-color) !important;
}

.numInputWrapper span.arrowDown::after {
    border-top-color: var(--fp-color) !important;
}

.numInputWrapper span.arrowUp:hover::after {
    border-bottom-color: var(--fp-accent) !important;
}

.numInputWrapper span.arrowDown:hover::after {
    border-top-color: var(--fp-accent) !important;
}

/* PRICES */
.border-b-6 {
    border-bottom-width: 6px !important;
}

/* INTERNATIONAL TELEPHONE INPUT */
.iti {
    width: 100%;
    display: block;
}

.iti input {
    width: 100% !important;
}

.iti__country-list {
    text-align: left !important;
}

.iti__selected-country:focus {
    outline: 2px solid var(--accent2);
    border-radius: 0.375rem;
}

.dark .iti__country-name,
.dark .iti__dial-code {
    color: var(--fp-color);
}

.dark .iti__selected-dial-code {
    color: var(--iti-text);
}

.dark .iti__country-list {
    background-color: var(--iti-bg);
}

.iti__search-input {
    background-color: var(--iti-search-bg) !important;
    color: var(--iti-search-text) !important;
    border: 2px solid var(--iti-accent) !important;
}

.iti__search-input:focus {
    box-shadow: 0 0 0 2px rgba(217, 119, 6, 0.4) !important;
}

.iti__search-input::placeholder {
    color: #9ca3af;
}

.dark .iti__no-results,
.iti__dropdown-content {
    background-color: var(--iti-search-bg) !important;
    color: var(--iti-search-text) !important;
}

@media (min-width: 501px) {
    .iti__country-list {
        height: 170px !important;
    }
}